
*.html
/DataFetcher/DataFetcher/bin
/DataFetcher/DataFetcher/obj
/DataParser/HtmlDataParser/bin
/DataParser/HtmlDataParser/obj
DataParser/.vscode/settings.json
DataParser/Data.7z
DataFetcher/PlayWrightFetcher/2024Nov30_DPWH_Infra.zip
Analyzer/dpwh-analyzer/src/assets/AllContracts.json
/DataParser/Categorizer/bin
/DataParser/Categorizer/obj
DataParser/Categorizer/.~lock.DpwhInfraProjects.xlsx\#
