.appHeader {
    /* position: sticky; */
    top: 0;
    z-index: 999;
    background-color: bisque;
    padding: 3px;
    border-radius: 0px;
    width: 100%;
  }
  
  .titleLine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  
  .appIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  
  .mainTitle {
    font-weight: 700;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .subtitle {
    margin-right: 10px;
    font-size: 1.15rem;
  }