.tableContainer {
    width: 100%;
}

.tableBase {
    width: 100%;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.thTable, .tdTable {    
    border: 2px solid lightgrey;
    padding: 5px 10px 5px 10px;    
}

.tdTable {
    word-break: break-word;
}

.tdNoWrap {
    white-space: nowrap;
}

.tdCost {
    border-left: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding: 5px 10px 5px 10px;
}

.tdStatus {
    word-break: keep-all;
    font-size: 0.95rem;
}

.tdCostBar {
    border-right: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;        
}

.tdCostBarStandalone {
    border-right: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;     
    border-left: 2px solid lightgrey;   
}

.tdCostBarFullWidth {
    width: 100%;
}

.thTable {
    background-color: beige;
}

.thTable .sortable{
    cursor: pointer;
}

.thSortable {
    cursor: pointer;
}

.divCost {
    text-align: end;
    font-family: "Courier Prime";
    font-weight: 600;
    font-size: 1.05rem;
}

.divCenter {
    text-align: center;
}

.itemDesc {
    font-size: 0.95rem;
    word-break: break-word;
}

.table-icon {
    display: inline;
    margin-left: 5px;
}

.table-icon-disabled {
    color: #aaa;
}

.table-icon-enabled {
    color: rgb(31, 140, 243);
}

/* Pagination*/
.paginator {    
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: aliceblue;
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    font-weight: 600;
}

.pageNavBtns {
    display: flex;
    gap: 10px;    
}

.navBtn {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #ccc;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
}

.btnEnabled {
    cursor: pointer;
}

.btnDisabled {
    cursor: default;
    color: gray;
    pointer-events: none;
}

.grandTotalContainer {
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    display: flex;
    justify-content: flex-end;    
    background: aliceblue;
    gap: 10px;
    padding: 3px 10px 3px 10px;
    align-items: center;
}

.grandTotalSettingsContainer {
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: aliceblue;        
}

/* For label-control pair inside */
.grandTotalSettings-fieldItemContainer {
    display: flex;
    align-items: center;
    padding: 3px 10px 3px 10px;
    gap: 10px;
}

.grandTotalLabel {
    font-family: 'Courier Prime', monospace;
    font-size: 1.1rem;
    font-weight: 600;
}

.grandTotalValue {
    font-size: 1.45rem;
    font-weight: 700;
    font-family: 'Courier Prime', monospace;
    background: #d2bafa;
    border-radius: 5px;
    padding: 3px 10px 1px 10px;
}

.chkboxGrandTotalSetting {

}

.pageSizeSelector {
    font-family: inherit;
    font-weight: 600;
    padding: 2px;
    border-radius: 5px;
}

.legendsContainer {
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    background: white;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.legendsGrid-group-title {
    width: 100px;
    margin-top: 2px;
}

.legendItemsContainer {
    display: flex;
    align-items: center;
}

.legendItem {
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-right: 5px;
}

.legendSquare {
    font-size: 1rem;
    width: 1.2rem;
    border-radius: 3px;
}

.legendsGrid-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 5px;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.legendsGrid-group-item-container {
    display: flex;
    flex-wrap: wrap;
}

.legendsGrid-item-bottom-border {
    border-bottom: 1px solid #ddd;
}

/* grid-template-columns: fit-content(8ch) fit-content(8ch) fit-content(8ch); */
.tooltipItemContainer {
    display: grid;
    grid-template-columns: minmax(1rem, 1rem) auto auto;
    column-gap: 8px;
}

.tooltipCost {
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
    padding-top: 1px;
    margin-left: 5px;
    text-align: right;
    width: 100%;
}

.tooltipYear {
    font-weight: 600;
    width: 100%;
    text-align: left;
    white-space: nowrap;
}

.tooltipYearColor {
    height: 1rem;
    width: 1rem;
    border-radius: 3px;
    padding-top: 0px;
}

.tooltipCell {
    margin-top: 2px;
}

.columnSettingsContainer {
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    background: white;
    display: flex;
}

.taggedValueContainer {
    width: 100%;    
    display: flex;
}

.taggedValue {
    display: inline-block;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    
}

.secondaryGroupingContainer {
    padding: 5px;
}

.secondaryGroupingLabel {
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 5px;
}